.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-4.684000px;}
._f{margin-left:-3.432000px;}
._0{margin-left:-2.232000px;}
._2{margin-left:-1.004000px;}
._1{width:1.168000px;}
._12{width:2.192000px;}
._5{width:51.892000px;}
._3{width:56.380000px;}
._e{width:72.944000px;}
._6{width:225.724000px;}
._a{width:251.004000px;}
._9{width:273.356000px;}
._d{width:323.896000px;}
._10{width:373.012000px;}
._14{width:378.992000px;}
._13{width:417.808000px;}
._7{width:473.800000px;}
._c{width:479.264000px;}
._8{width:496.344000px;}
._15{width:553.312000px;}
._b{width:568.912000px;}
._11{width:587.952000px;}
._16{width:613.036000px;}
.fc3{color:rgb(51,51,51);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,10);}
.fs4{font-size:42.000000px;}
.fs2{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.fs0{font-size:72.000000px;}
.y3b{bottom:75.500000px;}
.y60{bottom:79.000000px;}
.y7d{bottom:82.200000px;}
.y3a{bottom:82.800000px;}
.y1a{bottom:83.600000px;}
.y5f{bottom:92.400000px;}
.y7c{bottom:96.800000px;}
.y39{bottom:101.700000px;}
.y7b{bottom:111.500000px;}
.y19{bottom:113.300000px;}
.y38{bottom:115.200000px;}
.y7a{bottom:126.100000px;}
.y37{bottom:128.600000px;}
.y79{bottom:140.800000px;}
.y36{bottom:142.100000px;}
.y5e{bottom:147.600000px;}
.y1b{bottom:153.000000px;}
.y34{bottom:154.600000px;}
.y0{bottom:155.000000px;}
.y35{bottom:155.500000px;}
.y18{bottom:158.100000px;}
.y5d{bottom:161.100000px;}
.y78{bottom:162.200000px;}
.y17{bottom:172.500000px;}
.y33{bottom:174.500000px;}
.y16{bottom:185.900000px;}
.y32{bottom:187.900000px;}
.y31{bottom:201.400000px;}
.y2f{bottom:201.900000px;}
.y15{bottom:212.800000px;}
.y30{bottom:214.800000px;}
.y5c{bottom:214.900000px;}
.y77{bottom:215.100000px;}
.y14{bottom:226.300000px;}
.y76{bottom:230.500000px;}
.y5b{bottom:241.800000px;}
.y2e{bottom:243.800000px;}
.y75{bottom:248.300000px;}
.y13{bottom:253.200000px;}
.y5a{bottom:255.200000px;}
.y2d{bottom:259.200000px;}
.y12{bottom:266.600000px;}
.y59{bottom:268.700000px;}
.y2c{bottom:278.900000px;}
.y58{bottom:282.100000px;}
.y74{bottom:290.100000px;}
.y11{bottom:294.300000px;}
.y56{bottom:294.600000px;}
.y57{bottom:295.600000px;}
.y73{bottom:303.500000px;}
.y71{bottom:305.000000px;}
.y55{bottom:309.000000px;}
.y72{bottom:317.000000px;}
.y54{bottom:335.900000px;}
.y2b{bottom:336.900000px;}
.y70{bottom:344.000000px;}
.y53{bottom:349.400000px;}
.y2a{bottom:350.400000px;}
.y6f{bottom:357.800000px;}
.y29{bottom:363.800000px;}
.y6e{bottom:371.600000px;}
.y10{bottom:376.100000px;}
.y52{bottom:376.300000px;}
.y28{bottom:377.300000px;}
.yf{bottom:389.500000px;}
.y51{bottom:389.700000px;}
.y27{bottom:390.700000px;}
.y6d{bottom:399.100000px;}
.ye{bottom:403.000000px;}
.y50{bottom:403.200000px;}
.y26{bottom:404.200000px;}
.y6c{bottom:412.500000px;}
.yd{bottom:416.400000px;}
.y4f{bottom:416.600000px;}
.y6b{bottom:426.000000px;}
.y4d{bottom:429.100000px;}
.yc{bottom:429.900000px;}
.y4e{bottom:430.100000px;}
.y25{bottom:431.800000px;}
.yb{bottom:443.300000px;}
.y4c{bottom:443.500000px;}
.y6a{bottom:452.900000px;}
.y4b{bottom:457.000000px;}
.y69{bottom:466.300000px;}
.ya{bottom:470.200000px;}
.y4a{bottom:470.400000px;}
.y68{bottom:479.800000px;}
.y24{bottom:486.400000px;}
.y9{bottom:497.100000px;}
.y49{bottom:497.300000px;}
.y67{bottom:507.400000px;}
.y8{bottom:510.600000px;}
.y48{bottom:510.800000px;}
.y23{bottom:515.300000px;}
.y7{bottom:524.000000px;}
.y47{bottom:524.200000px;}
.y22{bottom:530.800000px;}
.y6{bottom:537.500000px;}
.y46{bottom:537.700000px;}
.y21{bottom:546.200000px;}
.y5{bottom:550.900000px;}
.y45{bottom:551.100000px;}
.y4{bottom:572.300000px;}
.y20{bottom:575.200000px;}
.y66{bottom:579.100000px;}
.y44{bottom:582.400000px;}
.y1f{bottom:604.100000px;}
.y65{bottom:608.000000px;}
.y1e{bottom:619.600000px;}
.y42{bottom:627.200000px;}
.y43{bottom:629.000000px;}
.y64{bottom:637.700000px;}
.y3{bottom:641.700000px;}
.y41{bottom:647.100000px;}
.y1d{bottom:648.500000px;}
.y2{bottom:658.800000px;}
.y40{bottom:666.100000px;}
.y1{bottom:676.900000px;}
.y1c{bottom:677.500000px;}
.y3e{bottom:678.600000px;}
.y3f{bottom:679.500000px;}
.y63{bottom:682.300000px;}
.y3d{bottom:693.000000px;}
.y62{bottom:695.700000px;}
.y7e{bottom:705.000000px;}
.y3c{bottom:706.400000px;}
.y7f{bottom:708.200000px;}
.y61{bottom:709.200000px;}
.hd{height:15.000000px;}
.ha{height:30.577148px;}
.h6{height:31.947266px;}
.h5{height:32.720703px;}
.hc{height:34.945312px;}
.h7{height:35.695312px;}
.h4{height:40.660156px;}
.h3{height:41.644531px;}
.h2{height:52.277344px;}
.h8{height:292.500000px;}
.h1{height:539.500000px;}
.h9{height:602.500000px;}
.hb{height:641.000000px;}
.h0{height:791.971654px;}
.w1{width:478.500000px;}
.w0{width:611.971654px;}
.x0{left:66.500000px;}
.x4{left:72.100000px;}
.x8{left:74.900000px;}
.x6{left:90.100000px;}
.x7{left:108.100000px;}
.x5{left:126.100000px;}
.x3{left:185.500000px;}
.xa{left:205.300000px;}
.x9{left:245.800000px;}
.x2{left:252.100000px;}
.x1{left:259.300000px;}
.xb{left:271.000000px;}
.xc{left:311.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-6.245333pt;}
._f{margin-left:-4.576000pt;}
._0{margin-left:-2.976000pt;}
._2{margin-left:-1.338667pt;}
._1{width:1.557333pt;}
._12{width:2.922667pt;}
._5{width:69.189333pt;}
._3{width:75.173333pt;}
._e{width:97.258667pt;}
._6{width:300.965333pt;}
._a{width:334.672000pt;}
._9{width:364.474667pt;}
._d{width:431.861333pt;}
._10{width:497.349333pt;}
._14{width:505.322667pt;}
._13{width:557.077333pt;}
._7{width:631.733333pt;}
._c{width:639.018667pt;}
._8{width:661.792000pt;}
._15{width:737.749333pt;}
._b{width:758.549333pt;}
._11{width:783.936000pt;}
._16{width:817.381333pt;}
.fs4{font-size:56.000000pt;}
.fs2{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.fs0{font-size:96.000000pt;}
.y3b{bottom:100.666667pt;}
.y60{bottom:105.333333pt;}
.y7d{bottom:109.600000pt;}
.y3a{bottom:110.400000pt;}
.y1a{bottom:111.466667pt;}
.y5f{bottom:123.200000pt;}
.y7c{bottom:129.066667pt;}
.y39{bottom:135.600000pt;}
.y7b{bottom:148.666667pt;}
.y19{bottom:151.066667pt;}
.y38{bottom:153.600000pt;}
.y7a{bottom:168.133333pt;}
.y37{bottom:171.466667pt;}
.y79{bottom:187.733333pt;}
.y36{bottom:189.466667pt;}
.y5e{bottom:196.800000pt;}
.y1b{bottom:204.000000pt;}
.y34{bottom:206.133333pt;}
.y0{bottom:206.666667pt;}
.y35{bottom:207.333333pt;}
.y18{bottom:210.800000pt;}
.y5d{bottom:214.800000pt;}
.y78{bottom:216.266667pt;}
.y17{bottom:230.000000pt;}
.y33{bottom:232.666667pt;}
.y16{bottom:247.866667pt;}
.y32{bottom:250.533333pt;}
.y31{bottom:268.533333pt;}
.y2f{bottom:269.200000pt;}
.y15{bottom:283.733333pt;}
.y30{bottom:286.400000pt;}
.y5c{bottom:286.533333pt;}
.y77{bottom:286.800000pt;}
.y14{bottom:301.733333pt;}
.y76{bottom:307.333333pt;}
.y5b{bottom:322.400000pt;}
.y2e{bottom:325.066667pt;}
.y75{bottom:331.066667pt;}
.y13{bottom:337.600000pt;}
.y5a{bottom:340.266667pt;}
.y2d{bottom:345.600000pt;}
.y12{bottom:355.466667pt;}
.y59{bottom:358.266667pt;}
.y2c{bottom:371.866667pt;}
.y58{bottom:376.133333pt;}
.y74{bottom:386.800000pt;}
.y11{bottom:392.400000pt;}
.y56{bottom:392.800000pt;}
.y57{bottom:394.133333pt;}
.y73{bottom:404.666667pt;}
.y71{bottom:406.666667pt;}
.y55{bottom:412.000000pt;}
.y72{bottom:422.666667pt;}
.y54{bottom:447.866667pt;}
.y2b{bottom:449.200000pt;}
.y70{bottom:458.666667pt;}
.y53{bottom:465.866667pt;}
.y2a{bottom:467.200000pt;}
.y6f{bottom:477.066667pt;}
.y29{bottom:485.066667pt;}
.y6e{bottom:495.466667pt;}
.y10{bottom:501.466667pt;}
.y52{bottom:501.733333pt;}
.y28{bottom:503.066667pt;}
.yf{bottom:519.333333pt;}
.y51{bottom:519.600000pt;}
.y27{bottom:520.933333pt;}
.y6d{bottom:532.133333pt;}
.ye{bottom:537.333333pt;}
.y50{bottom:537.600000pt;}
.y26{bottom:538.933333pt;}
.y6c{bottom:550.000000pt;}
.yd{bottom:555.200000pt;}
.y4f{bottom:555.466667pt;}
.y6b{bottom:568.000000pt;}
.y4d{bottom:572.133333pt;}
.yc{bottom:573.200000pt;}
.y4e{bottom:573.466667pt;}
.y25{bottom:575.733333pt;}
.yb{bottom:591.066667pt;}
.y4c{bottom:591.333333pt;}
.y6a{bottom:603.866667pt;}
.y4b{bottom:609.333333pt;}
.y69{bottom:621.733333pt;}
.ya{bottom:626.933333pt;}
.y4a{bottom:627.200000pt;}
.y68{bottom:639.733333pt;}
.y24{bottom:648.533333pt;}
.y9{bottom:662.800000pt;}
.y49{bottom:663.066667pt;}
.y67{bottom:676.533333pt;}
.y8{bottom:680.800000pt;}
.y48{bottom:681.066667pt;}
.y23{bottom:687.066667pt;}
.y7{bottom:698.666667pt;}
.y47{bottom:698.933333pt;}
.y22{bottom:707.733333pt;}
.y6{bottom:716.666667pt;}
.y46{bottom:716.933333pt;}
.y21{bottom:728.266667pt;}
.y5{bottom:734.533333pt;}
.y45{bottom:734.800000pt;}
.y4{bottom:763.066667pt;}
.y20{bottom:766.933333pt;}
.y66{bottom:772.133333pt;}
.y44{bottom:776.533333pt;}
.y1f{bottom:805.466667pt;}
.y65{bottom:810.666667pt;}
.y1e{bottom:826.133333pt;}
.y42{bottom:836.266667pt;}
.y43{bottom:838.666667pt;}
.y64{bottom:850.266667pt;}
.y3{bottom:855.600000pt;}
.y41{bottom:862.800000pt;}
.y1d{bottom:864.666667pt;}
.y2{bottom:878.400000pt;}
.y40{bottom:888.133333pt;}
.y1{bottom:902.533333pt;}
.y1c{bottom:903.333333pt;}
.y3e{bottom:904.800000pt;}
.y3f{bottom:906.000000pt;}
.y63{bottom:909.733333pt;}
.y3d{bottom:924.000000pt;}
.y62{bottom:927.600000pt;}
.y7e{bottom:940.000000pt;}
.y3c{bottom:941.866667pt;}
.y7f{bottom:944.266667pt;}
.y61{bottom:945.600000pt;}
.hd{height:20.000000pt;}
.ha{height:40.769531pt;}
.h6{height:42.596354pt;}
.h5{height:43.627604pt;}
.hc{height:46.593750pt;}
.h7{height:47.593750pt;}
.h4{height:54.213542pt;}
.h3{height:55.526042pt;}
.h2{height:69.703125pt;}
.h8{height:390.000000pt;}
.h1{height:719.333333pt;}
.h9{height:803.333333pt;}
.hb{height:854.666667pt;}
.h0{height:1055.962205pt;}
.w1{width:638.000000pt;}
.w0{width:815.962205pt;}
.x0{left:88.666667pt;}
.x4{left:96.133333pt;}
.x8{left:99.866667pt;}
.x6{left:120.133333pt;}
.x7{left:144.133333pt;}
.x5{left:168.133333pt;}
.x3{left:247.333333pt;}
.xa{left:273.733333pt;}
.x9{left:327.733333pt;}
.x2{left:336.133333pt;}
.x1{left:345.733333pt;}
.xb{left:361.333333pt;}
.xc{left:415.333333pt;}
}
